#footer{
    width: 100%;
    background-color: #101624;
    height: 6vh;
}
.txt-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    color: #3f4551;
    
    font-size: larger;
    padding: 0;
}
@media screen and (max-width: 600px) {
    .txt-footer{
        font-size: small;
    }
}