#portfolio{
    width: 100%;
    background-color: #101624;
}
#portfolio .portfolio{
    color: rgba(21, 27, 41, 0.5);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 90px;
    font-weight: 700;
    z-index: 1;

}
.txt-portfolio{
    position: relative;
    /* color: white; */
    text-align: center;
    margin:  0 0 1rem 0;

}
.txt-portfolio span{
    margin: 20px 0 0 0;
    position: absolute;
    top: 0;
    left: 50%;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
    color:#fec544 ;
    z-index: 1;
    transform: translate(-50%, -50%);
}
.txt-portfolio .line{
    width: 150px;
    z-index: 1;
    height: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color:#fec544;
}

.txt-portfolio .line::before{
    content: "";
    position: absolute;
    background-color: #3f4551;
    width: 25%;
    left: 0;
    height: 2px;
}
.txt-portfolio .line::after{
    content: "";
    position: absolute;
    background-color: #3f4551;
    width: 25%;
    height: 2px;
    right: 0;
}


.portfolio-cont1 .portfolio-grp,
.portfolio-cont2 .portfolio-grp2,
.portfolio-cont3 .portfolio-grp3,
.portfolio-cont4 .portfolio-grp4
{
position: relative;
width: 100%;
height: 100%;
}
.portfolio-grp::before,
.portfolio-grp2::before,
.portfolio-grp3::before,
.portfolio-grp4::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #3f4551;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.4s ease;
    opacity: 0;
}
.on_hover{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    z-index: 5;
    text-align: center;
    transition: all 0.4s ease;
    opacity: 0;
    /* transform: translate(-50%, -50%); */
}

.portfolio-grp::after,
.portfolio-grp2::after,
.portfolio-grp3::after,
.portfolio-grp4::after
{
    content: '';
    position: absolute;
    width: 90%;
    height: 90%;
    left: 50%;
    top: 50%;
    border: 2px solid #fdfeff;
    opacity: 0;
    z-index: 1;
    transform: translate(-50%, -50%);
}
.on_hover i{
    color: #101624;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding: 12px;
    background-color: #fec544;
    font-size: larger;
    margin: 0 0 1rem 0;
    opacity: .8;
}
.cont-image{
    display: block;
    overflow: hidden;
}
.cont-image img{
    width: 100%;
    transition: 0.4s;
}
.portfolio-grp:hover::before, 
.portfolio-grp2:hover::before, 
.portfolio-grp3:hover::before ,
.portfolio-grp4:hover::before 
{
    opacity: 0.8;
}
.portfolio-grp:hover::after,
.portfolio-grp2:hover::after,
.portfolio-grp3:hover::after,
.portfolio-grp4:hover::after
 {
    opacity: 0.8;
}
.portfolio-grp:hover .on_hover,
.portfolio-grp2:hover .on_hover,
.portfolio-grp3:hover .on_hover,
.portfolio-grp4:hover .on_hover
{
    visibility: visible;
    opacity: .8;
}

.portfolio-grp:hover  img,
.portfolio-grp2:hover  img,
.portfolio-grp3:hover  img,
.portfolio-grp4:hover  img
{
    transform: scale(1.2);
}


@media screen and (max-width: 600px) {
    #portfolio .portfolio{
        font-size: 50px;
    }
    .portfolio-grp::after,
.portfolio-grp2::after,
.portfolio-grp3::after,
.portfolio-grp4::after
{
    content: '';
    position: absolute;
    width: 90%;
    height: 90%;
    left: 50%;
    top: 50%;
    border: 2px solid #fdfeff;
    opacity: 0.8;
    z-index: 1;
    transform: translate(-50%, -50%);
}
.portfolio-grp::before,
.portfolio-grp2::before,
.portfolio-grp3::before,
.portfolio-grp4::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #3f4551;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.4s ease;
    opacity: 0.8;
}
    .on_hover{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        visibility: visible;
        z-index: 5;
        text-align: center;
        transition: all 0.4s ease;
        opacity: 0.8;
        /* transform: translate(-50%, -50%); */
    }
    .portfolio-grp:hover  img,
.portfolio-grp2:hover  img,
.portfolio-grp3:hover  img,
.portfolio-grp4:hover  img
{
    transform: scale(1);
}

}