#resume{
    background-color:#0a101e;
    width: 100%;
}

#resume .resume1{
    color: rgba(21, 27, 41, 0.5);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 90px;
    font-weight: 700;
    z-index: 1;

}
.txt-resume{
    position: relative;
    color: white;
    text-align: center;
    margin:  0 0 1rem 0;

}
.txt-resume span{
    margin: 20px 0 0 0;
    position: absolute;
    top: 0;
    left: 50%;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
    color:#fec544 ;
    z-index: 1;
    transform: translate(-50%, -50%);
}
.txt-resume .line{
    width: 150px;
    z-index: 1;
    height: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color:#fec544;
}

.txt-resume .line::before{
    content: "";
    position: absolute;
    background-color: #3f4551;
    width: 25%;
    left: 0;
    height: 2px;
}
.txt-resume .line::after{
    content: "";
    position: absolute;
    background-color: #3f4551;
    width: 25%;
    height: 2px;
    right: 0;
}
.experience-cont, 
.experience-cont1, 
.experience-cont2, 
.experience-cont3 {
    position: relative;
}

.experience-cont::before, 
.experience-cont1::before, 
.experience-cont2::before, 
.experience-cont3::before {
    position: absolute;
    content: "";
    width: 13px;
    height: 13px;
    border-radius: 50%;
    top: 0;
    border: 2px solid #232935;
    background-color: #101624;
    left: -48px;
}

.experience-cont:hover::before, 
.experience-cont1:hover::before, 
.experience-cont2:hover::before, 
.experience-cont3:hover::before {
    background-color: #fec544;
    transition: 0.5s;
}

 #resume svg{
    position: relative;
    width: 70px;
    height: 50px;
}

@media screen and (max-width: 600px) {
    #resume .resume1{
        font-size: 65px;
    }
}